
<!--<div id="body" xmlns="http://www.w3.org/1999/html" *ngIf="isMobile" >-->
<!--<div class="jk">-->
<!--  <div class="welcome" >-->
<!--    <div style="display: flex;-->
<!--    flex-direction: column;-->
<!--    justify-content: center;-->
<!--    flex-grow: 0.6;">-->
<!--      <div  id="text">-->


<!--        <span>-->
<!--          Елдар-->
<!--        <br>-->
<!--        <span style="margin-left: 50px" >-->
<!--          &-->
<!--        </span>-->
<!--        <br>-->
<!--        Құндыз-->
<!--      </span>-->




<!--      </div>-->
<!--    </div>-->
<!--    <div class="ico">-->
<!--      <div>-->
<!--        <img src="/img/11.png" height="40" width="50" >-->
<!--      </div>-->


<!--    </div>-->
<!--    </div>-->
<!--  </div>-->



<!--  <div class="jk">-->
<!--  <div id="content1">-->
<!--    <div class="item1">-->
<!--    <span style="font-family:'vAcadei'!important;font-size: 17px;text-align: center;color: maroon;padding: 10px" >-->
<!--&lt;!&ndash;       <img src="/img/455.png" style="opacity: 0.10;position: absolute;" class="rot" height="350px"/>&ndash;&gt;-->
<!--                ҚҰРМЕТТІ<br>-->
<!--          АҒАЙЫН-ТУЫС, БАУЫРЛАР,<br>-->
<!--          ҚҰДА-ЖЕКЖАТ, НАҒАШЫ-ЖИЕН,<br>-->
<!--          БӨЛЕЛЕР, ДОС-ЖАРАНДАР,<br>-->
<!--          КӨРШІЛЕР, ӘРІПТЕСТЕР!<br><br><br><br>-->
<!--          СІЗДЕРДІ ҰЛЫМЫЗ ЕЛДАР МЕН КЕЛІНІМІЗ ҚҰНДЫЗДЫҢ<br>-->
<!--          <br>ҮЙЛЕНУ ТОЙЫНА АРНАЛҒАН-->
<!--         САЛТАНАТТЫ АҚ ДАСТАРХАНЫМЫЗДЫҢ<br>-->
<!--          ҚАДІРЛІ КОНАҒЫ БОЛУҒА-->
<!--          ШАҚЫРАМЫЗ!-->

<!--    </span>-->

<!--    </div>-->

<!--</div>-->
<!--  </div>-->
<!--  <div class="jk">-->
<!--  <div id="content">-->
<!--        <span style="font-family:'vAcadei'!important;font-size: 23px;text-align: center;color: maroon;margin-top: 350px;padding: 10px" >-->
<!--&lt;!&ndash;       <img src="/img/455.png" style="opacity: 0.10;position: absolute;" class="rot" height="350px"/>&ndash;&gt;-->

<!--     Той салтанаты:<br>-->
<!--             <div class="date-container">-->
<!--        <div class="side-text">-->
<!--            <hr>-->
<!--            <span>сенбі</span>-->
<!--            <hr>-->
<!--        </div>-->
<!--        <div class="center-text">-->
<!--            <span class="month">шілде</span>-->
<!--            <span class="day">05</span>-->
<!--            <span class="year">2025</span>-->
<!--        </div>-->
<!--        <div class="side-text">-->
<!--            <hr>-->
<!--            <span>18:00</span>-->
<!--            <hr>-->
<!--        </div>-->
<!--    </div>-->


<!--    <div class="calendar">-->
<!--        <h2>ШІЛДЕ <span>2025</span></h2>-->
<!--      <table>-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th>Дс</th>-->
<!--                <th>Сс</th>-->
<!--                <th>Ср</th>-->
<!--                <th>Бс</th>-->
<!--                <th>Жм</th>-->
<!--                <th>Сб</th>-->
<!--                <th>Жс</th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--            <tr>-->
<!--                <td></td>-->
<!--                <td>1</td>-->
<!--                <td>2</td>-->
<!--                <td>3</td>-->
<!--                <td>4</td>-->
<!--                <td style="background: url('/img/heart.gif') center;background-size: contain">-->
<!--5</td>-->
<!--                <td>6</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>7</td>-->
<!--                <td>8</td>-->
<!--                <td>9</td>-->
<!--                <td>10</td>-->
<!--                <td>11</td>-->
<!--                <td>12</td>-->
<!--                <td>13</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>14</td>-->
<!--                <td>15</td>-->
<!--                <td>16</td>-->
<!--                <td>17</td>-->
<!--                <td>18</td>-->
<!--                <td>19</td>-->
<!--                <td>20</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>21</td>-->
<!--                <td>22</td>-->
<!--                <td>23</td>-->
<!--                <td>24</td>-->
<!--                <td>25</td>-->
<!--                <td>26</td>-->
<!--                <td>27</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>28</td>-->
<!--                <td>29</td>-->
<!--                <td>30</td>-->
<!--                <td>31</td>-->
<!--                <td></td>-->
<!--                <td></td>-->
<!--                <td></td>-->
<!--            </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--    </div>-->

<!--    </span>-->

<!--  </div>-->
<!--  </div>-->
<!--<div class="jk">-->
<!--  <div class="item1">-->
<!--              <span style="font-family:'vAcadei'!important;font-size: 23px;text-align: center;color: maroon;margin-top: 150px;padding: 10px" >-->

<!--                Мекен-жайымыз:<br><br><br>-->
<!--               "Ханшайым" мейрамханасы <br>-->
<!--                Алматы қаласы, Бесағаш, Талғар тас жолы,<br> Райымбек батыр көшесі, 145а<br><br><br>-->
<!--               <a href="https://go.2gis.com/xY4YV" title="Батырманы басыңыз"> <img src="/img/img_3.png" height="60" style="border-radius: 15px"/><br><br><br>-->
<!--               </a>-->
<!--                Той иелері:<br>-->
<!--                ТАЛҒАТ-СӘУЛЕШ-->

<!--                   <img src="/img/25.png" width="300" />-->
<!--                </span>-->

<!--  </div>-->
<!--</div>-->

<!--  <div class="item1">-->
<!--      <app-rsvp></app-rsvp>-->

<!--    </div>-->
<!--</div>-->
<div id="body" xmlns="http://www.w3.org/1999/html" *ngIf="isMobile" >
<div class="jk">
  <div class="welcome" >
    <div style="display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0.4;">
      <div  id="text">


        <span>
          Елдар
        <br>
        <span style="margin-left: 50px" >
          &
        </span>
        <br>
        Құндыз
      </span>




      </div>
    </div>
    <app-music-player style="margin-left: 250px;margin-bottom: 70px"></app-music-player>
    <div class="ico">
      <div>
        <img src="/img/11.png" height="40" width="50" >
      </div>

    </div>


  </div>
  </div>



  <div class="jk">
  <div id="content1">
    <div class="item1">
    <span style="font-family:'vAcadei'!important;font-size: 20px;text-align: center;color: maroon;padding: 10px" >
<!--       <img src="/img/455.png" style="opacity: 0.10;position: absolute;" class="rot" height="350px"/>-->
                ҚҰРМЕТТІ<br>
          АҒАЙЫН-ТУЫС, БАУЫРЛАР,<br>
          ҚҰДА-ЖЕКЖАТ, НАҒАШЫ-ЖИЕН,<br>
          БӨЛЕЛЕР, ДОС-ЖАРАНДАР,<br>
          КӨРШІЛЕР, ӘРІПТЕСТЕР!<br><br><br><br>


          СІЗДЕРДІ ҰЛЫМЫЗ ЕЛДАР МЕН КЕЛІНІМІЗ ҚҰНДЫЗДЫҢ
       <br>
          <br>ҮЙЛЕНУ ТОЙЫНА АРНАЛҒАН
         САЛТАНАТТЫ АҚ ДАСТАРХАНЫМЫЗДЫҢ<br>
          ҚАДІРЛІ КОНАҒЫ БОЛУҒА
          ШАҚЫРАМЫЗ!

    </span>

    </div>

</div>
  </div>
  <div class="jk">
  <div id="content">
        <span style="font-family:'vAcadei'!important;font-size: 23px;text-align: center;color: maroon;margin-top: 350px;padding: 10px" >
<!--       <img src="/img/455.png" style="opacity: 0.10;position: absolute;" class="rot" height="350px"/>-->

     Той салтанаты:<br>
             <div class="date-container">
        <div class="side-text">
            <hr>
            <span>сенбі</span>
            <hr>
        </div>
        <div class="center-text">
            <span class="month">шілде</span>
            <span class="day">05</span>
            <span class="year">2025</span>
        </div>
        <div class="side-text">
            <hr>
            <span>18:00</span>
            <hr>
        </div>
    </div>


    <div class="calendar">
        <h2>ШІЛДЕ <span>2025</span></h2>
      <table>
        <thead>
            <tr>
                <th>Дс</th>
                <th>Сс</th>
                <th>Ср</th>
                <th>Бс</th>
                <th>Жм</th>
                <th>Сб</th>
                <th>Жс</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td style="background: url('/img/heart.gif') center;background-size: contain">
5</td>
                <td>6</td>
            </tr>
            <tr>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
            </tr>
            <tr>
                <td>14</td>
                <td>15</td>
                <td>16</td>
                <td>17</td>
                <td>18</td>
                <td>19</td>
                <td>20</td>
            </tr>
            <tr>
                <td>21</td>
                <td>22</td>
                <td>23</td>
                <td>24</td>
                <td>25</td>
                <td>26</td>
                <td>27</td>
            </tr>
            <tr>
                <td>28</td>
                <td>29</td>
                <td>30</td>
                <td>31</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    </div>

    </span>

  </div>
  </div>
<div class="jk">
  <div class="item1">
              <span style="font-family:'vAcadei'!important;font-size: 23px;text-align: center;color: maroon;margin-top: 150px;padding: 10px" >

                Мекен-жайымыз:<br><br><br>
               "Ханшайым" мейрамханасы <br>
                Алматы қаласы, Бесағаш, Талғар тас жолы,<br> Райымбек батыр көшесі, 145а<br><br><br>
               <a href="https://go.2gis.com/xY4YV" title="Батырманы басыңыз"> <img src="/img/img_3.png" height="60" style="border-radius: 15px"/><br><br><br>
               </a>
                Той иелері:<br>
                ТАЛҒАТ-СӘУЛЕШ

                   <img src="/img/25.png" width="300" />
                </span>

  </div>
</div>

  <div class="item1">
      <app-rsvp></app-rsvp>

    </div>
</div>
<div  *ngIf="!isMobile">
    <div class="welcome" >
      САЙТ МОБИЛЬДІ ҚОСЫМШАДА АШЫЛАДЫ!
    </div>
</div>
