.welcome {
  background: url("/48.png") no-repeat center;
  background-size: cover;
  background-position: right;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  animation-name: fadeIn12;
  animation-duration: 3s;
  position: relative;

}
.jk {
  height: 100vh;
  width: 100%;

}


.center {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.line{
  fill: none;
  stroke-width: 4px;
  stroke-linecap: round;
  -webkit-animation: line  linear infinite;
  animation: line  linear infinite;
  animation-duration: 4s;

}

.circle{
  z-index: 100;
  position: absolute;
  border: 2px solid maroon;
  width: 50px;

  height: 50px;
  border-radius: 50%;
  -webkit-animation: circle 3.1s ease-out infinite both;
  animation: circle 3.1s ease-out infinite both;
}

@-webkit-keyframes line {
  from {
    stroke-dasharray: 100 660;
    stroke-dashoffset: 780;
  }
  to {
    stroke-dasharray: 100 660;
    stroke-dashoffset: 70;
  }
}
@keyframes line {
  from {
    stroke-dasharray: 100 1200;
    stroke-dashoffset: 1300;
  }
  to {
    stroke-dasharray: 100 1200;
    stroke-dashoffset: 10;
  }
}

@-webkit-keyframes circle {
  0%, 50% {
    opacity: 1;
    transform: scale(0);
  }
  70%, 100% {
    opacity: 0;
    transform: scale(0.2);
  }
}
@keyframes circle {
  0%, 50% {
    opacity: 1;
    transform: scale(0);
  }
  70%, 100% {
    opacity: 0;
    transform: scale(1);
  }
}


@keyframes fadeIn {
  0% {


    background-position: left;
  }
  100% {
    background-position: right;
  }
}
@keyframes fadeIn12 {
  0% {
    opacity: 0;
    filter: blur(10px);

  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: scale(1.1);
  }
}
.ico{
  display: flex;
  flex-direction: column;
  animation: myfirst 3s infinite ;
  /*animation-duration: 6s;*/

}

@keyframes myfirst {
  0% { transform: translateY(0); }
  50% { transform: translateY(20px); }
  100% { transform: translateY(0); }
}
.date-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
}

.side-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin: 0 20px;
}

.side-text hr {
  width: 60px;
  border: none;
  border-top: 1px solid black;
  margin: 5px 0;
}

.center-text {
  text-align: center;
}

.month {
  font-size: 18px;
  display: block;
}

.day {
  font-size: 50px;
  font-weight: bold;
  display: block;
}

.year {
  font-size: 18px;
  display: block;
}
.calendar {
  padding: 20px;
}

h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

h2 span {
  font-size: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  font-size: 20px;
}

th {
  font-weight: bold;
}

.heart {
  position: relative;
  font-weight: bold;
}

.heart span {
  position: relative;
  z-index: 2;
}

.heart::before {
  content: "❤";
  font-size: 25px;
  position: absolute;
  color: #d11a2a;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0.6;
}
#body{
  background: url("/144.jpg") no-repeat center;
  background-size: cover;
  max-height: 500vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

}
#content {
  background: url("/145.png") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  flex-direction: row;
  align-items: center;

  overflow: hidden;

}#content1 {
  background: url("/6678.png") no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100%;
   animation-name: fadeIn;
   animation-duration: 30s;
   overflow: hidden;
   animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.item1{
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
  flex-direction: row;
  align-items: center;
 }
#content2 {
  background: url("/45.png") no-repeat center;
  background-size: cover;
  display: flex;
  position: relative;
  justify-content: center;
  height: 100vh;
  width: 100%;
  flex-direction: row;
  align-items: center;

}

#text{
  background: url("/78.png") center ;
  opacity: 0.80;
  height: 300px;
  width: 400px;
  background-size: cover;
  display: flex;
  font-family:'Lobster'!important;
  font-size: 50px;
  padding: 20px;
  color: maroon;
  justify-content: center;
  align-items: center;


}



svg {
  z-index: 1;
  width: 50vw;
  max-width: 100vw;
  height: auto;
}


.sparkles path {
  transform-origin: 30% 30%;
  transform-box: fill-box;
  animation: sparkle var(--duration) var(--delay) infinite ease-in-out;
}

@keyframes sparkle {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  70% {
    transform: scale(-1, 0);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
/* Убираем стандартные отступы и фон */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}



@keyframes example {
  from {height: 0}
  to {height: 100%}
}


