
<div id="body" xmlns="http://www.w3.org/1999/html" *ngIf="isMobile">
<div class="jk">
  <div class="welcome" >

      <div  id="text">
        <span>
          Елдар
        <br>
        <span style="margin-left: 50px" >
          &
        </span>
        <br>
        Құндыз
      </span>




      </div>

    </div>
  </div>



  <div class="jk">
  <div id="content1">
    <div class="item1">
    <span style="font-family:'vAcadei'!important;font-size: 17px;text-align: center;color: maroon;padding: 10px" >
<!--       <img src="/img/455.png" style="opacity: 0.10;position: absolute;" class="rot" height="350px"/>-->
                ҚҰРМЕТТІ<br>
          АҒАЙЫН-ТУЫС, БАУЫРЛАР,<br>
          ҚҰДА-ЖЕКЖАТ, НАҒАШЫ-ЖИЕН,<br>
          БӨЛЕЛЕР, ДОС-ЖАРАНДАР,<br>
          КӨРШІЛЕР, ӘРІПТЕСТЕР!<br><br><br><br>
          СІЗДЕРДІ ҰЛЫМЫЗ ЕЛДАР МЕН КЕЛІНІМІЗ ҚҰНДЫЗДЫҢ<br>
          <br>ҮЙЛЕНУ ТОЙЫНА АРНАЛҒАН
         САЛТАНАТТЫ АҚ ДАСТАРХАНЫМЫЗДЫҢ<br>
          ҚАДІРЛІ КОНАҒЫ БОЛУҒА
          ШАҚЫРАМЫЗ!

    </span>

    </div>

</div>
  </div>
  <div class="jk">
  <div id="content">
        <span style="font-family:'vAcadei'!important;font-size: 23px;text-align: center;color: maroon;margin-top: 250px;padding: 10px" >
<!--       <img src="/img/455.png" style="opacity: 0.10;position: absolute;" class="rot" height="350px"/>-->

     Той салтанаты:<br>
          <b>5 шілде 2025 жылы<br>
           сағат 18:00<br><br><br></b>
          Мекен-жайымыз:<br>
         "Ханшайым" мейрамханасы <br>
          Алматы қаласы, Бесағаш, Талғар тас жолы,<br> Райымбек батыр көшесі, 145а<br><br><br>
          Той иелері:<br>
          ТАЛҒАТ-СӘУЛЕ
    </span>

  </div>
  </div>

    <div class="item1">
      <app-rsvp></app-rsvp>

    </div>

</div>
<div  *ngIf="!isMobile">
    <div class="welcome" >
      САЙТ МОБИЛЬДІ ҚОСЫМШАДА АШЫЛАДЫ!
    </div>
</div>
