.rsvp-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  color: maroon;
  font-family: vAcadei;
}
input[type="radio"] {
  accent-color: #5E9351;
}

.rsvp-form h2 {
  text-align: center;
}

.rsvp-form form div {
  margin-bottom: 10px;
}

.rsvp-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #5E9351;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.custom-input {
  width: 95%;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
}
.rsvp-form button:disabled {
  background-color: #cccccc;
}
