
@font-face {
  font-family: "Lobster";
  src: url("assets/img/vAsylm02.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "vAcadebi";
  src: url("assets/img/vAcadebi.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "vCenti";
  src: url("assets/img/vCenti.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "vAsylm13";
  src: url("assets/img/vAsylm13.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "vAcadei";
  src: url("assets/img/vAcadei.ttf") format("truetype");
  font-weight: normal;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */
